{% extends "try.html" %}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>

</head>

<p class="heading">Videos</p>
<style>
    .heading {
        font-size: 175%;
        font-weight: 600;
        border-bottom: .02em solid #16192c;
    }

    #myDIV {
        margin-left: auto;
        margin-right: auto;
        float: left;
    }

    @media (max-width: 500px) {
        .heading {
            width: 100%;
        }
    }
</style>

<body>
    <center>
        <div id="myDIV">

        </div>
    </center>
</body>
<script type="text/javascript">
    var videos = {{ videos| tojson }};
    var video_list = videos.split(',');
    for (var i = 0; i < video_list.length; i++) {
        let videooo = document.createElement('iframe')
        videooo.setAttribute('src', video_list[i])
        videooo.setAttribute('style', 'margin:1.5% 1.5% 1.5% 1.5%;')
        document.getElementById("myDIV").appendChild(videooo)
    }
</script>

</html>
{% endblock content %}